*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.background-img{
    background-color: blue;
    /* background-image: url(../img/jumbo.png); */
    background-size: 100%;
    background-repeat: no-repeat;
}

.flex-row{
    display: flex;
    justify-content: center;

}


.header-logo{
    flex-basis: 4rem;
    background-color: rgb(85, 0, 255);

}
div nav{
align-self: center;
    width: 40%;
}
div button{
    width: 5%;
}
