*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.background-img{
    width: 120rem;
    height: 80rem;
    
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.flex-row{
    display: flex;
    justify-content: center;

}
.flex-column{
    display: flex;
    flex-direction: column;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.box-logo{
    height: 30rem;
    
}


.header-logo{
    flex-basis: 3rem;

}
div nav{
    align-self: center;
    width: 40%; 
}
.color-text{
    color: white;
    margin-right: 3rem;
    
}


div button{
    width: 5%;
}

.container-text{
    width: 80%;
    margin: 0 auto;
}